body {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}
.container {
  max-width: 90%;
  margin: 0 auto;
}
header {
  display: block;
  overflow: hidden;
  background-color: #fff4e7;
}
nav {
  display: flex;
  justify-content: space-between;
  margin: 0 30px;
}
nav .company-name h3 {
  font-size: 30px;
}
nav .navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .navbar ul {
  display: flex;
  justify-content: space-around;
  gap: 40px;
}
nav .navbar ul li {
  list-style: none;
}
nav .navbar ul li a {
  text-decoration: none;
  color: #777674;
  font-size: smaller;
}

/* banner start  */
.banner {
  text-align: center;
}
.banner .banner-title {
  font-size: 3rem;
}
.info {
  font-size: smaller;
  line-height: 1.8em;
  color: #777674;
}
.btn-primary {
  padding: 12px 20px;
  background: #ff900e;
  border: 0px;
  color: white;
  font-size: small;
  border-radius: 5px;
}
.banner .banner-image {
  width: 100%;
  margin: 40px auto;
}
.banner .banner-image img {
  width: 100%;
}
.text-primary {
  color: #ff900e;
}

/* quicllist start      */
.quicklist {
  margin-top: 50px;
}
.quicklist .list-description h3 {
  font-weight: 400;
  font-size: 30px;
  color: #777674;
}
.quicklist .list-description h3 strong {
  color: black;
}
.quicklist .container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 24px;
}

.quicklist .list-image {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 10px;
}
.quicklist .list-image .main-images img {
  width: 100%;
}
.quicklist .list-description {
  padding-left: 70px;
}

/* feature style start  */

.features {
  margin-top: 50px;
}
.features .container {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  align-items: center;
}
.features .features-info {
  width: 60%;
}
.features .feature-image img {
  width: 100%;
}
.section-title {
  font-weight: 700;
  font-size: 30px;
}
.features h3 {
  border-left: 4px solid #ff900e;
  border-radius: 5px;
  padding-left: 10px;
}
.features h4 {
  color: #131313;
}
.features p {
  margin-bottom: 40px;
}
.features .features-info .card {
  margin: 20px 0;
  padding: 20px;
  box-shadow: 4px 4px 20px rgb(218, 218, 218);
}
.features .feature-image {
  position: relative;
}
.features .temporary {
  position: absolute;
  background-color: #ff900e;
  border-radius: 5px;
  bottom: -15px;
  left: 18px;
  color: white;
  text-align: center;
  padding: 10px 50px;
  height: 100px;
  width: 150px;
}
.features .temporary h1 {
  font-size: 40px;
  margin: 0;
}
.features .temporary p {
  font-size: 24px;
  margin: 0;
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 98%;
    margin: 0 auto;
  }
  .quicklist .list-description {
    padding-left: 10px;
  }
  .features .container {
    flex-direction: column;
  }
  .features .features-info {
    width: 90%;
  }
  .features .feature-image {
    width: 90%;
  }
  .features .temporary {
    bottom: -15px;
    left: 18px;
  }
}

@media screen and (max-width: 640px) {
  nav {
    flex-direction: column;
    justify-content: center;
    margin: 0px 5px;
  }
  nav .company-name h3 {
    text-align: center;
  }
  nav .navbar ul {
    gap: 15px;
  }
  .quicklist .container {
    flex-direction: column-reverse;
  }
  .quicklist .container {
    text-align: center;
  }
}
